pr:
- main
- Dev

trigger: none

variables:
  projectPath: "HorkosAPI/HorkosAPI/HorkosAPI.csproj"
  buildConfiguration: "Release"

pool:
  vmImage: "windows-latest"

stages:
  - stage: Validation
    displayName: "Validation & Tests"
    jobs:
      - job: BuildAndTest
        displayName: "Build and Run Tests"
        steps:
          - task: UseDotNet@2
            displayName: "Installer .NET 8 SDK"
            inputs:
              packageType: "sdk"
              version: "8.x"
              installationPath: $(Agent.ToolsDirectory)/dotnet

          - script: dotnet restore $(projectPath)
            displayName: "Restore NuGet packages"

          - script: dotnet build $(projectPath) --configuration $(buildConfiguration) --no-restore
            displayName: "Build project (Check Compilation)"

          - script: dotnet test $(projectPath) --configuration $(buildConfiguration) --no-build --logger trx
            displayName: "Execute Unit Tests"

          - task: PublishTestResults@2
            displayName: "Publish Test Results"
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: "VSTest"
              testResultsFiles: "**/*.trx"